.page-wrap#wrapper
  .container.offerNew
    .formField
      .page-title
        %h1 Arrange new Open House Event : Client Information
      .row
        .col-xs-12
          = render partial: 'form'